* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "raleway";
    src: url(./../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

body {
    font-family: "raleway";
}

header {
    height: 76px;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    color: #666;
    font-size: 1.5rem;
    font-weight: 300;
}

.logo:hover {
    color: #333;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 76px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #d8d8d8;
    width: 100vw;
}

img {
    height: 15px;
    margin-left: 30px;
}

nav ul {
    display: flex;
    color: #333;
    gap: 30px;
    padding-right: 50px;
}

nav li {
    list-style: none;
    font-size: .8125rem;
    
}

nav li:hover {
    color: #337ab7;
}

div {
    color: white;
    background-image: url(./../img/38e75180597332d03d601c4abfcc1940.jpeg);
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position-y: -76px;
}

h1 {
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 64px;
    padding-top: 80px;
}

h2 {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    padding-block: 30px;
}

div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

div ul li {
    height: 54px;
    width: 200px;
    color: white;
    line-height: 24px;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
}

.button__read{
    background-color: #745CF9;
}

.button__download{
    border: 1px solid white;
}

.buttons {
    justify-content: center;
    align-items: center;
    gap: 10px;
}