* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1694954075938-ce66449dc9bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3270&q=80);
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.379);
    align-items: center;
    padding: 20px;

}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

li {
    list-style: none;
}